{% extends "base.html" %}
<!--# Need to implement a pre-lecture quiz class that is later able to take in data from responses-->
<!-- # & help with the feedback loop in identifying student knowledge-->

{% block app_content %}
<!--<div class="page-header" style="margin-top: -45px;margin-left: -90px; text-align: left;">-->
<!--    <div class="page-header">-->
<div class="container-fluid" style="margin-top: -45px; text-align: center; ">
    <div class="col-sm-6" style="margin-top:-10px;">
        <h3>Lecture: {{lecture.lecture_topic}}</h3>


    </div>
    <div class="col-sm-6" style="margin-top:10px;">

        <h4>Subtopic: {{sub.subtopic}}</h4>


    </div>

</div>


</div>
<div class="container">

    <div class="row">
        <div class="col-sm-9" style="margin-left: -25px">
            <iframe src="https://www.youtube.com/{{sub.lecture_video}}"
                    frameborder="0" width="140%" height="600"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen style="position:relative;bottom: 40%; z-index:0;">

            </iframe>
        </div>

    </div>
    <div class="row-sm-3 " style="overflow:auto;">

        <div class = col-sm-8>


            <div id="questions">
                {% for question in questions[0:9] %}
                <div class="row">
                    <div class="col-sm-1">


                        <p id="q{{question.question_id}}">
                            {% if question.question_score == None %}
                            0
                            {% else %}

                            {{question.question_score}}

                            {% endif %}

                        </p>

                    </div>

                    <div class="col-sm-1">

                        <button type="button" class="btn-success btn-xs"
                                onclick="javascript:upVote({{question.question_id}})">

                            <span class="glyphicon glyphicon-arrow-up"></span>

                        </button>
                    </div>
                    <div class="col-sm-8">
                        <p id="el">

                            {{question.question}}

                        </p>
                    </div>

                </div>

                {% endfor %}
            </div>
            <div class="panel-footer">
                {% include 'question_form.html' %}
            </div>

        </div>

        <div class="col-sm-4" style=" margin-left:-15px;">
            {% set sub_id_hold = subtopic_id | int %}
            {% set sub_id_new = sub_id_hold + 1 %}
            <form action="/quiz_page/1/{{lecture.lecture_id}}/{{ sub_id_new }}" method="post" novalidate>
                <p id="p">
                    <input type="submit"
                           value="Next subtopic: {{ subtopics.filter_by(id=sub_id_new).first().subtopic }}">
                </p>
            </form>
        </div>
    </div>
</div>


{% endblock %}
