{% block app_content %}

<div class="container">




        <div class="col-lg-9" style="text-align: center;font-size:74px">
            <div class="panel panel-default"
                 style="opacity:0.5; z-index: 999; ">

                <form name="form3" action="" method="post" onsubmit="">
                    <p>
                        <input type="radio" name="options" id="q1" style="font-size:24px;"> Choice1 <br>
                        <input type="radio" name="options" id="choice2"> Choice2 <br>
                        <input type="radio" name="options" id="choice3"> Choice3 <br>
                        <input type="radio" name="options" id="choice4"> Choice4 <br>
                    </p>
                    <p><input type=submit value=Next></p>
                </form>



            </div>
        </div>

        <div class="col-sm-4">
            {% set sub_id_hold = subtopic_id | int %}
            {% set sub_id_new = sub_id_hold + 1 %}
            <form action="/lecture_page/1/{{lecture.lecture_id}}/{{subtopic_id}}" method="post" novalidate>
                <input type="submit"
                       value="Submit Quiz">
                <p>

                </p>
            </form>

        </div>
        </form>



</div>


</div>
</div>


{% endblock %}
